
/*Desktop css */
body {
  font-family: 'Inter', sans-serif;
  background-color: #FCBD00;
  color: #ffffff;
  padding: 20px;
  background-image: url("mobile/logofundo.png");  /*Ctrl+backspace background*/
  background-repeat: no-repeat;
  background-position:center -1900px;
  background-size: cover;

}

        /*form*/
  form {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }


   /*Os inputs*/
  input{
    background-color: #2B2306;
    color: #FFF0F0;
    font-family: 'Inter', sans-serif;
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 19px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
  }

  input::placeholder {
    color: #e0cccc;
  }


   /*Caixa para selecionar o gênero*/
  select {

    color:#FFF0F0 ;
    appearance: none;
    background-color: #6D2E46 ;
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: 200px;
    max-width: 100%;
    padding: 20px 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block; 
    margin: 0 auto 10px;
    -webkit-appearance: none;
      -moz-appearance: none;
  }

 /*Cor da caixa de opções do dropdown*/
  option {
    background-color: #72324b;
    color: #FFF0F0;
    display: block;
    
  }

  
  /*Input n°*/
  #numero{
    width: 190px;
    border: none;
    align-items: center;
    display: flex;
    text-align: center;
    position:relative;
    right: -40px;
    top: -2px;   
  }
  /*Input complemento*/
  #complemento{
    width: 250px;
    align-items: center;
    display: flex;
    text-align: center;
    right: 1080px;
    position: absolute;
    top: 930px;
   
    
  }
  /*Input cep*/
  #cep{
    width: 250px;
    align-items: center;
    display: flex;
    text-align: center;
    right: 1220px;
    position: absolute
  }
  /*Input bairro*/
#bairro{
  width: 250px;
    align-items: center;
    display: flex;
    text-align: center;
    right: -250px;
    position: relative;
}

  /*Input endereço*/
#endereço{
  width: 250px;
  align-items: center;
  display: flex;
  text-align: center;
  right: -250px;
  position: relative;
  top: -80px;
  
}

  /*Input button*/
  button {
    background-color: #6D2E46;
    color: #FFF0F0;
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 200px;
    padding: 20px 100px;
    margin: 0 auto 10px;
    border-radius: 50px;
    box-sizing: border-box;
    position: relative;
    top: 20px;   /* Agora ele vai descer 40px */
    right: -2px;
  }
  
  
    /*Versão mobile*/

  @media screen and (max-width:769px) {

    body {
      font-family: 'Inter', sans-serif;
      background-color: #FCBD00;
      color: #ffffff;
      padding: 20px;
      background-image: url("mobile/logofundo.png");  /*Ctrl+backspace background*/
      background-repeat: no-repeat;
      background-position:center -1900px;
      background-size: cover;
    
    }
    
            /*form*/
      form {
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
      }
    
    
       /*Os inputs*/
      input{
        background-color: #2B2306;
        color: #FFF0F0;
        font-family: 'Inter', sans-serif;
        display: block;
        width: 100%;
        padding: 20px;
        margin-bottom: 19px;
        border: none;
        border-radius: 50px;
        box-sizing: border-box;
      }
    
      input::placeholder {
        color: #e0cccc;
      }
    
    
       /*Caixa para selecionar o gênero*/
      select {
    
        color:#FFF0F0 ;
        appearance: none;
        background-color: #6D2E46 ;
        font-family: 'Inter', sans-serif;
        text-align: center;
        width: 200px;
        max-width: 100%;
        padding: 20px 12px;
        margin-bottom: 10px;
        border: none;
        border-radius: 50px;
        box-sizing: border-box;
        display: inline-block; 
        margin: 0 auto 10px;
        -webkit-appearance: none;
          -moz-appearance: none;
      }
    
     /*Cor da caixa de opções do dropdown*/
      option {
        background-color: #72324b;
        color: #FFF0F0;
        display: block;
        
      }
    
      
      /*Input n°*/
      #numero{
        width: 190px;
        border: none;
        align-items: center;
        display: flex;
        text-align: center;
        position:relative;
        right: -40px;
        top: -2px;   
      }
      /*Input complemento*/
      #complemento{
        width: 250px;
        align-items: center;
        display: flex;
        text-align: center;
        right: 1080px;
        position: absolute;
        top: 930px;
       
        
      }
      /*Input cep*/
      #cep{
        width: 250px;
        align-items: center;
        display: flex;
        text-align: center;
        right: 1220px;
        position: absolute
      }
      /*Input bairro*/
    #bairro{
      width: 250px;
        align-items: center;
        display: flex;
        text-align: center;
        right: -250px;
        position: relative;
    }
    
      /*Input endereço*/
    #endereço{
      width: 250px;
      align-items: center;
      display: flex;
      text-align: center;
      right: -250px;
      position: relative;
      top: -80px;
      
    }
    
      /*Input button*/
      button {
        background-color: #6D2E46;
        color: #FFF0F0;
        font-family: 'Inter', sans-serif;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 200px;
        padding: 20px 100px;
        margin: 0 auto 10px;
        border-radius: 50px;
        box-sizing: border-box;
        position: relative;
        top: 20px;   /* Agora ele vai descer 40px */
        right: -2px;
      }


    
  }