*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

body{
    background-color: #FCBD00;
    height: 100vh;
}


header.freakbar{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1%;
    background-color:#2B2306;
    flex-direction: row;
    justify-content: space-between;
    height: 130px;

}

div.logo img{
    height: 150px;
}

div.logo img:hover{
    transform: scale(1.5);
    

}


h1{
    color: #FCBD00;
    
}

div.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-style: italic;
    justify-content: space-around;
}

div.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1%;
    font-size: 18px;
}

div.navbar a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FCBD00;
}

nav a:hover{
    color: #f506fdf5;
    cursor: pointer;
}

.Bprincipal img{
    height: 450px;


}


.Bprincipal{    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

section.camisas img{
    height: 330px;
    width: 300px;

}

section.camisas2 img{
    height: 330px;
    width: 300px;

}


section.camisas{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    gap: 6%;
    padding: 5%;
}

section.camisas2{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    gap: 6%;
}

section.camisas, section.camisas2 p{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

p{
    background-color:#f506fdf5;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section p:hover{
    cursor: pointer;
}

section.camisas img:hover{
    transform: scale(1.1);

}

section.camisas2 img:hover{
    transform: scale(1.1);

}