*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

body{
    background-color: #FCBD00;
    height: 100vh;
}


header.freakbar{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1%;
    background-color:#2B2306;
    flex-direction: row;
    justify-content: space-between;
   
}

div.logo img{
    height: 130px;
}

h1{
    color: #FCBD00;
    
}

div.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-style: italic;
    justify-content: space-around;
}

div.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1%;
    font-size: 18px;
}

div.navbar a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FCBD00;
}

nav a:hover{
    color: #f506fdf5;
    cursor: pointer;
}



