:root {
    --main-color: #a76f06c5;
    --black: #000000;
    --border: 0.2rem solid rgb(0, 0, 0);
    font-size: 20px;
    --bg: #000000;
}


* {
    margin: 2;
    padding: 0;
    outline: 2;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2 linear;
    background-color: var(--main-color);

}


.body {

    background-color: var(--bg);

}


section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1400px;

}


.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem;
    padding-bottom: 1rem;
}


.navbar {
    margin: 2 6rem;
    font-size: 5rem;
    color: #000000;
}




.header {
    position: fixed;
    top: 10;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border)
}

.navbar a:hover {
    color: var(--black);
    border-bottom: 0.1rem solid var(--black);
    padding-bottom: 0.5rem;

}


nav {

    text-align: center;
    padding: 10px;

}

nav a {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;

    text-decoration: none;
    color: black;
    margin: 0 25px;
    font-size: 24px;

}
